body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  font-family: sans-serif;
  overflow: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
}

#info {
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  z-index: 100;
  display: block;
  pointer-events: none;
}

#info a {
  color: #0066ff;
  font-weight: bold;
  pointer-events: auto;
  text-decoration: none;
}

#info a:hover {
  text-decoration: underline;
}

.title-wrapper {
  margin: 5px 0;
  font-size: 16px;
}
